.movieGrid {
    display: grid;
    gap:0;
  }
  
  @media (min-width: 480px) {
    .movieGrid { grid-template-columns: 1fr; }
  }
  
  @media (min-width: 992px) {
    .movieGrid { grid-template-columns: repeat(2, 1fr); }
  }
  
  @media (min-width: 1290px) {
    .movieGrid { grid-template-columns: repeat(3, 1fr); }
  }